Source: ros-humble-numato-relay
Section: misc
Priority: optional
Maintainer: Rhys Faultless <rfaultless@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-copyright <!nocheck>, ros-humble-ament-flake8 <!nocheck>, ros-humble-ament-pep257 <!nocheck>, ros-humble-numato-relay-interfaces, ros-humble-rclpy, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-numato-relay
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-numato-relay-interfaces, ros-humble-rclpy, ros-humble-ros-workspace
Description: Driver for controlling Numato Labs USB relay PCBAs
